@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import 'https://fonts.googleapis.com/css2?family=Great+Vibes&family=Vidaloka&display=swap';

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {

  --clr-primary: #1e293b;
  --clr-secondary: #475569;
  --clr-gray: #64748b;
  --clr-light-gray: #e2e8f0;

  --ff-primary: 'Playfair Display', serif;
  --ff-secondary: 'Lora', serif;
  --ff-cursive: 'Great Vibes', cursive;
  ;
}


/* ------------------- */
/*       Resets        */
/* ------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  line-height: 1.5;
  min-height: 100vh;
}



img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex-center {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-white {
  background-color: #FFFFFF;
}

/* ------------------- */
/*   Skip to content   */
/* ------------------- */
.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: #FFF;
  color: var(--clr-primary);
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* ------------------- */
/*        Main         */
/* ------------------- */

#main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 2rem;
  max-width: 1400px;
}

.main-wrapper h1 {
  font-size: 4.25rem;
  font-weight: 600;
}

.main-desc {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  font-style: italic;
  color: var(--clr-gray)
}

.main-wrapper .know-more-btn {
  border: 1px solid #68e1fd;
  background-color: #60A5FA;
  padding: 0.75rem 4rem;
  font-size: 1.15rem;
  margin-top: 2rem;
  cursor: pointer;
}

.main-wrapper .know-more-btn-secondary {
  border: 1px solid #BFDBFE;
  background-color: #BFDBFE;
  padding: 0.75rem 4rem;
  font-size: 1.15rem;
  margin-top: 2rem;
  cursor: pointer;
}

.main-wrapper .main-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 3rem;
}

.main-wrapper .main-right {
  width: 50%;
}

.main-right img {
  width: 90%;
}

.area {
  background: #FFF;
  background: -webkit-linear-gradient(to left, #FFF, #FFF);
  width: 100%;
  height: 100vh;
  z-index: -9999;
  position: fixed;
  top: 0;

}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: pink;
  /* background: rgba(255, 255, 255); */
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

.social-icons {
  background-color: #FFC3C3;
  position: fixed;
  right: 0;
  top: 40vh;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1rem 0.75rem;
}

.social-icons a {
  text-decoration: none;
  color: black;
}

.social-icons ul,
.social-icons li {
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icons li {
  list-style: none;
}

.social-icons i {
  font-size: 1.45rem;
  margin: 1rem 0.25rem;
  cursor: pointer;
}

.section-projects {
  min-height: 100vh;
}

.sub-heading {
  text-align: center;
  font-weight: 600;
  font-size: 3.5rem;
}

.sub-heading .number {
  color: #f84d50;
}

.sub-heading-desc {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.75rem;
  font-family: var(--ff-secondary);
  font-style: italic;
}

.project-type {
  margin-top: 3rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  max-width: 1200px;
  margin: 3rem auto 0 auto;
}

.projects-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: auto;

  /* justify-content: center;
    align-items: center; */
}

.bg-white {
  background-color: white;
}

.card-container .card {
  background-color: white;
  border: 1px solid gray;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  /* max-width: 28rem; */
}

.card-container .card h4,
.card-container .card h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.card-container .card .mockup {
  margin: 1rem 2rem;
  width: 70%;
  display: block;
  margin: auto;
}

.card-container .card .tagline {
  font-family: var(--ff-secondary);
  font-style: italic;
  font-size: 1.1rem;
}

.card-container .card .desc {
  font-family: var(--ff-secondary);
  margin-bottom: 1rem;
}

.card-container .card .links {
  display: flex;
  width: 100%;
}

.card-container .card .link {
  /* color: black; */
  /* text-decoration: none; */
  /* padding: 0.5rem 2rem; */
  /* width: 50%;
    text-align: center; */
  color: #f84d50;
  font-size: 1.25rem;
  font-family: var(--ff-secondary);
  font-style: italic;
}

.card-container .card .link-primary {
  margin-right: 1rem;
}



@media screen and (max-width: 1300px) {

  .projects-container,
  .achievements-container {
    grid-template-columns: repeat(2, 1fr);
  }
}



@media screen and (max-width: 700px) {

  .projects-container,
  .achievements-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.timeline ul {
  /* background: #456990; */
  padding: 50px 0;
}

.timeline h3 {
  /* color: #3D4351; */
  font-weight: 700;
  font-size: 1.75rem;
}

.timeline p {
  color: #424a52;
  font-family: var(--ff-secondary);
}

.timeline time {
  color: #768390;
  font-family: var(--ff-primary);
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 2px;
  margin: 0 auto;
  padding-top: 50px;
  background: #CCD5DB;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f84d50;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 500px;
  padding: 15px;
  border: 1px solid #768390;
  /* background: #f45b69; */
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f84d50 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -539px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f84d50;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f84d50 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%);
}

.timeline-heptagon ul li::after {
  clip-path: polygon(50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%);
}

/* ABOUT ME */


.about-me-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
}

.text-para {
  margin-right: 3rem;
  font-family: var(--ff-secondary);
  line-height: 1.75;
  font-size: 1.1rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.header-image1 {
  width: 40%;
}

.section-right {
  width: 55%;
}

.header-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.blob {
  position: absolute;
  width: 500px;
  height: 500px;
}

/* .blob:nth-child(2) {
      filter: blur(50px);
  } */

.blob2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* Technologies section */

.section-techs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  max-width: 1300px;
  margin: auto;

}

.section-techs .desc {
  width: 60%;
  margin: 0 1rem 0 2rem;
}

.tech-logos {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.tech-logos img {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  margin: 2rem auto;
}

.tech-logos p {
  text-align: center;
  font-family: var(--ff-secondary);
}

.section-techs a {
  color: #f84d50;
  margin-right: 1rem;
  font-family: var(--ff-secondary);
  font-size: 1.1rem;
}

.section-techs a:hover {
  font-weight: 600;
}

/* Achievements */

.achievements-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
}

.achievements-container .card .link {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.achievements-container .card {
  position: relative;
}

.achievements-container .medal {
  position: absolute;
  top: -10px;
  right: -25px;
  width: 4rem;
  height: 4rem;
}

.achievements-container .card .tagline {
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
}


/**
 * Footer
**/
.footer {
  min-height: 70vh;
  background: #fef2f2;
  color: #575e6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
  margin-top: 5rem;
  font-family: var(--ff-secondary);
  font-size: 0.9rem;
}

.footer .footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
}

.footer .footer-signoff {
  width: 80%;
  margin: auto;
  border-top: 1px solid #d1d5db;
  padding: 1rem;
  text-align: center;
}

.footer-container .footer-links a {
  text-decoration: none;
  color: #6b7280;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-container .footer-links a:hover {
  color: black;
  font-weight: 700;
}

.footer-subheading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.footer-subheading-link {
  font-size: 1.2rem;
}

.footer-links ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.footer-link-item {
  text-decoration: none;
}

.footer-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  object-fit: contain;
  display: inline;
}

@media screen and (max-width: 900px) {
  .footer {
    margin-top: 3rem;
  }

  .footer .footer-container {
    grid-template-columns: 1fr;
    width: 85%;
    margin: auto;
  }

  .footer-about {
    margin-top: 3rem;
  }

  .footer .footer-signoff {
    width: 95%;
    margin-top: 2rem;
    padding-bottom: 3rem;
  }
}

.list-style-none {
  list-style: none;
  padding-left: 0;
}

.footer-list-item a {
  text-decoration: none;
  color: var(--clr-secondary);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-list-item a:hover {
  font-weight: 600;
}

.footer-subheading-links {
  font-size: 1rem;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 955px) {

  .ctas {
    flex-direction: column;
    gap: 0.25rem;
  }
}

@media screen and (max-width: 900px) {

  .ctas {
    flex-direction: column;
    gap: 0.25rem;
  }

  .header-section {
    min-height: 120px;
    height: fit-content;
    margin: 3rem auto;
  }

  .header-image1 {
    width: 100%;
  }

  .section-right {
    width: 100%;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .main-wrapper h1 {
    font-size: 4rem;
    font-weight: 600;
  }

  .main-desc {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    font-style: italic;
  }

  .main-wrapper .know-more-btn {
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .main-wrapper .main-left {
    width: 100%;
    margin-top: 3rem;
  }

  .main-wrapper .main-right {
    display: none;
  }


}

@media screen and (max-width: 900px) {

  .main-wrapper {
    flex-direction: column;
  }

  .main-wrapper h1 {
    font-size: 3.5rem;
    font-weight: 600;
  }

  .main-desc {
    font-family: var(--ff-secondary);
    font-size: 1.25rem;
    font-style: italic;
  }

  .main-wrapper .know-more-btn {
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }

  .main-wrapper .main-left {
    width: 100%;
    margin-top: 1rem;
  }

  .main-wrapper .main-right {
    margin-top: 3rem;
    width: 80%;
    align-self: flex-end;
  }

}

.header {

  padding: 1rem;
  border-bottom: 1px solid #d1d5db;
}

.feature {
  min-height: 100vh;
}

.feature h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature form {
  max-width: 650px;
  min-width: 600px;
  display: flex;
  margin: 2rem 1rem;
}

.feature input {
  margin-right: 1rem;
  padding: 0.5rem 0.85rem;
  width: 70%;
}

.feature button {
  padding: 0.5rem 0.85rem;
  background-color: #60A5FA;
  border: 1px solid #60A5FA;
  border-radius: 3px;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .feature form {
    max-width: 90vw;
    min-width: 90vw;
  }

  #main {
    min-height: 70vh;
  }
}

.link-preview {
  max-width: 350px;
  margin: auto;
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 1rem;
  border: 1px solid #d1d5db;
}

.link-preview-data {
  border-top: 1px solid #d1d5db;
  padding: 1rem;
}

.only-link {
  display: block;
  margin:2rem;
  border: 1px solid #d1d5db;
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.link-preview img {
  width: 100%;
  object-fit: cover;
}

.link-preview .title {
  font-weight: bold;
  font-size: 1.1rem;
}

.link-preview .desc {
  color: gray;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.link-preview .domain {
  color: gray;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}